{% extends '/root/base.html' %}
{% block title %}Accountfinder - lesson{% endblock title %}

{% block content %}
    <div class="learn_container">
        <p>

          <h1>Finding accounts</h1>
                    <iframe width="576" height="324" src="https://www.youtube.com/embed/6j8GoUvTuVE?si=kfhrcfqvsDSD702-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </iframe>
      <br><br>
<p><b>Key concepts</b></p>
<p>- Social engineering&nbsp;</p>
<p>- OSINT (Open source intelligence)</p>
<p><br /><br /></p>
</p>
<p><b>Introduction</b></p>
<p>The rise of social media has led to rapid changes in how we communicate with one another. With the desire to share our lives with others and the ability to contact friends and family just a post away, the amount of sensitive information a person shares online, accessible to anyone, is growing every day. It is used by hackers to steal your identity (identity theft) and to trick a business or individual into giving away sensitive information (phishing attack).</p>
<p>In the cybersecurity world, it is essential to understand that <strong>everything</strong> we do online leaves a trail of data that remains with us forever. In isolation, such data may be of no relevance; however, when combined, it builds what's known as your 'digital footprint'</p>
<br>
<div style="display: flex; justify-content: center; align-items: center;">
    <img src="https://lh7-us.googleusercontent.com/G_DMFsywbdxQipYEEIHWYrOtesxBOApKcyZ-1xFxiY2tefyinaCr2HY3FwkyuvF66cuD6Ws1y9knQtO8JdyTbirMJ3xSPowBpcsOXwalXI6kGPayPFJ1_pEoCQWQ41znRyjf7NkFiAt9rmIcrgVhCXM" style="width: 720px;">
</div>
<br>
<p>There are two types of digital footprints, active and passive. An active digital footprint refers to the data you intentionally share online, whereas a passive digital footprint is the data collected about you without your knowledge. As an active digital footprint encompasses most of the personal information accessible about us online, this is what this lesson will focus on.&nbsp;</p>
<br>
<p><b>How do hackers find out personal information?</b></p>

<p>The techniques and tools hackers use to obtain information about us are vast, and as a whole, this type of hacking (known as social engineering) is just one of many that encompass the term OSINT (Open source intelligence), which is just a part of the broader cybersecurity space.&nbsp;</p>
<p>Have you ever tried to enter a username or email into a website to find a friend, loved one, or anyone else? Features like this can be used to identify accounts linked to a target individual. Many websites will automatically create a user's username when signing up by splitting the 'username' part of the email. So, if provided the email address of;</p>
<p>bob@gmail.com, a website may use '<em>bob</em>' as the username for the account. Such information is vital to us as it enables us to not only use usernames but also emails to search for accounts. The last step is to take this premise and expand on it by not just checking one, but hundreds of websites at once. Check if an account is successfully found.</p>
<br>
<p><b>Activity</b></p>
<p><b>1.</b> Think of an email or username that you use and check if it has been 'pwned' (exposed in a data breach)&nbsp;</p>
<p><a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a></p>
<br>
<p><b>2.</b> After this, put your email address into the 'target' field of the <a href="http://127.0.0.1:5000/toolscripts/accountfinder">accountfinder</a>.&nbsp;</p>
<br>
<p><b>3.</b> How many accounts (if any) were found, and how many were linked to you?</p>
<p><b> - </b>Why are there false positives?</p>
<br>
<p><b>4.</b> THINK: Have you ever overshared any personal information online?&nbsp;</p>
<p><br /><br /><br /><br />

        </p>
    </div>


{% endblock content %}
