{% extends '/root/base.html' %}
{% block title %}Accountfinder - lesson{% endblock title %}

{% block content %}
    <div class="learn_container">
        <p>

<h1><span style="font-weight: 400;">Where to keep learning</span></h1>
<p><span style="font-weight: 400;">The world of cybersecurity is large and complicated but if you are interested in learning more about the offensive side than OwlGlass has to offer here are some of our recommendations.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We recommend that you install Kali Linux, Parrot OS or your Linux Distro of choice either as virtual machines or on a secondary boot drive on your computer (you can still hack on windows or mac OS but many industry leading tools are designed for linux). Install some popular tools such as, burpsuite, nmap, or metasploit and learn how to use them.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Some learning platforms we recommend are the Hack The Box academy, Try Hack Me CyberSecurity Training, and the Portswigger Web Security Academy.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Once you have a decent amount of experience and knowledge under your belt you can look into practicing your skills.&nbsp;</span></p>
<p><span style="font-weight: 400;">If you are particularly interested in the web app side of hacking you can try web app vulnerability disclosure programs (VDP), or try to earn money with bug bounty programs (BBP). Both of these types of programs can be found on Hackerone and Bugcrowd.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you are more interested in hacking standalone machines with various techniques to gain complete control of a system, you can practice with Hack The Box&rsquo;s wide range of hacking labs.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The world of hacking is massive and there are so many places to keep learning and endless ways to build a career, or a hobby. Remember to stay curious and learn as much as you can and your skills will grow in no time.</span></p>
<p>&nbsp;</p>
<p><strong>Links:</strong></p>
<p><span style="font-weight: 400;">Operating systems:</span></p>
<p><span style="font-weight: 400;">Kali linux: </span><a href="https://www.kali.org/"><span style="font-weight: 400;">https://www.kali.org/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Parrot OS: </span><a href="https://parrotsec.org/"><span style="font-weight: 400;">https://parrotsec.org/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p>&nbsp;</p>
<p><strong>Tools:&nbsp;</strong></p>
<p><span style="font-weight: 400;">Nmap: </span><a href="https://nmap.org/"><span style="font-weight: 400;">https://nmap.org/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Burp suite: </span><a href="https://portswigger.net/burp"><span style="font-weight: 400;">https://portswigger.net/burp</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Metasploit: </span><a href="https://www.metasploit.com/"><span style="font-weight: 400;">https://www.metasploit.com/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p>&nbsp;</p>
<p><strong>Learning Resources:</strong></p>
<p><span style="font-weight: 400;">Hack the box academy </span><a href="https://academy.hackthebox.com/"><span style="font-weight: 400;">https://academy.hackthebox.com/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Try Hack Me Cybersecurity Training: </span><a href="https://tryhackme.com/"><span style="font-weight: 400;">https://tryhackme.com/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Portswigger Web Security Academy: </span><a href="https://portswigger.net/web-security"><span style="font-weight: 400;">https://portswigger.net/web-security</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;"><br /></span><strong>BBP/VDP:</strong></p>
<p><span style="font-weight: 400;">Hackerone: </span><a href="https://www.hackerone.com/"><span style="font-weight: 400;">https://www.hackerone.com/</span></a><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Bugcrowd: </span><a href="https://www.bugcrowd.com/"><span style="font-weight: 400;">https://www.bugcrowd.com/</span></a></p>        </p>
    </div>
{% endblock content %}