
<nav id="nav" class="overlay">
    <div style="display: flex; align-items: center; position:relative;height: 80%;">
        <div class="logo">
            <a href="{{url_for('index')}}">
                {% from "root/logo.html" import logo %}
                {{logo(style="height:32px")}}
                <p class="nav-p">Owlglass</p>
            </a>
        </div>
        <div name="seperator" class="seperator"></div>
        <ul class="menu">
            <li>
                <a href="{{url_for('about')}}"><p class="nav-p">About</p></a>
            </li>
        </ul>
    </div>
</nav>
