{% macro render_input(tool_name,form,response='') %}



<!-- tool input params -->
<div name="container" class="tool-container">
    <div name="left" style="height: 100%;">
    <mdn-block-header class="mdn-block-header">

        <div name="block-simple" class="block-simple">
            <div name="left" class="block-header">
                {% if tool_name == "accountfinder" %}
                <p class="block-header-text">Accountfinder</p>
                {% elif tool_name == "portscan" %}
                <p class="block-header-text">Port Scanner</p>
                {% elif tool_name == "dnslookup" %}
                    <p class="block-header-text">DNSLookup</p>

                {% endif %}
            </div>
            <pre class="toolscript-form-pre">
                <form method="post" class="toolform">
                    {%if tool_name == "accountfinder"%}
                        <div>
                            {{form.target.label(class='form-control-label')}}
                            {% if form.target.errors %}
                                {{form.target(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form.target.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                {{form.target(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.target_type.label(class='form-control-label')}}
                        {% if form.target_type.errors %}
                            {{form.target_type(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.target_type.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.target_type(class='form-control')}}
                            {% endif %}
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {%elif tool_name == "dnslookup"%}
                        <div>
                            {{form.target.label(class='form-control-label')}}
                            {% if form.target.errors %}
                                {{form.target(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form.target.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                {{form.target(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.my_choices.label(class='form-control-label')}}
                        {% if form.my_choices.errors %}
                            {{form.my_choices(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.my_choices.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.my_choices(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.depth.label(class='form-control-label')}}
                        {% if form.depth.errors %}
                            {{form.depth(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.depth.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.depth(class='form-control')}}
                            {% endif %}
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}

                    {%if tool_name == "portscan"%}
                        <div>
                            {{form.target.label(class='form-control-label')}}
                            {% if form.target.errors %}
                                {{form.target(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form.target.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                {{form.target(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.ports.label(class='form-control-label')}}
                        {% if form.ports.errors %}
                            {{form.ports(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.target_type.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.ports(class='form-control')}}
                            {% endif %}
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}
                    {%if tool_name == "subfuzz" or tool_name == "dirfuzz" or tool_name == "vhostfuzz"%}
                        <div>
                            {{form.target.label(class='form-control-label')}}
                            {% if form.target.errors %}
                                {{form.target(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form.target.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                {{form.target(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.port.label(class='form-control-label')}}
                        {% if form.port.errors %}
                            {{form.port(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.target_type.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.port(class='form-control')}}
                            {% endif %}
                        </div>
                        <div>
                        {{form.depth.label(class='form-control-label')}}
                        {% if form.depth.errors %}
                            {{form.depth(class='form-control is-invalid')}}
                            <div class="invalid-feedback">
                            {% for error in form.target_type.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            </div>
                            {% else %}
                                {{form.depth(class='form-control')}}
                            {% endif %}
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}
                </form>
            </pre>
        </div>
    </mdn-block-header>
    </div>
    <div name="right">
    <mdn-block-header class="mdn-block-header">

        <div name="block-simple" class="block-simple">
            <div class="block-header">
                <p class="block-header-text">Output</p>
            </div>
            <pre class="toolscript-form-pre">
                <div class="toolform">
                    <text style="display: flex; flex-direction:column;" id="output-t">
                        {% if response%}
                            <span>
                                {{response | safe}}
                            </span>
                        {% endif %}
                    </text>
                </div>
            </pre>
        </div>
    </mdn-block-header>
    </div>
</div>
<!-- tool output -->
{% endmacro %}
