{% macro render_input(tool_name,form,response='') %}
{% from 'root/macros.html' import render_field %}


<!-- tool input params -->
<div name="container" class="tool-container">
    <div name="left" style="height: 100%;">
    <mdn-block-header class="mdn-block-header">

        <div name="block-simple" class="block-simple">
            <div name="left" class="block-header">
                {% if tool_name == "accountfinder" %}
                    <p class="block-header-text">Account Finder</p>
                {% elif tool_name == "portscan" %}
                    <p class="block-header-text">Port Scanner</p>
                {% elif tool_name == "dnslookup" %}
                    <p class="block-header-text">Dns Scanner</p>
                {% elif tool_name == "dirfuzz" %}
                    <p class="block-header-text">Directory Fuzzer</p>                
                {% elif tool_name == "subfuzz" %}
                    <p class="block-header-text">Subdirectory Fuzzer</p>
                {% elif tool_name == "vhostfuzz" %}
                    <p class="block-header-text">Vhost Fuzzer</p>
                {% endif %}
                
            </div>
            <pre class="toolscript-form-pre">
                <form method="post" class="toolform">
                    {%if tool_name == "accountfinder"%}
                        <div>
                            {{render_field(form.target,class='form-control')}}
                            <!-- {{render_field(form.cap,class='form-control')}} -->
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {%elif tool_name == "dnslookup"%}
                        <div>
                            {{render_field(form.target,class='form-control')}}
                        </div>

                        <div style="margin-bottom:8px">
                            {{form.my_choices.label(class='form-control-label')}}
                            <div style="overflow-y: scroll;height: 200px;">
                                {{render_field(form.my_choices,show_label=False)}}
                            </div>
                        </div>

                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}

                    {%if tool_name == "portscan"%}
                        <div>
                            {{render_field(form.target,class='form-control')}}
                        </div>
                        <div>
                            {{render_field(form.ports,class='form-control')}}
                        </div>
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}
                    {%if tool_name == "subfuzz" or tool_name == "dirfuzz" or tool_name == "vhostfuzz"%}
                        {% for field in form %}
                        <div>
                            {{render_field(field,class='form-control')}}
                        </div>
                        {% endfor %}
                        <!-- {{form.submit}} -->
                        <button class="btn btn-primary" id="tool-sub-btn"style="margin-top:1em ;">Submit</button>
                    {% endif %}
                </form>
            </pre>
        </div>
    </mdn-block-header>
    </div>
    <div name="right">
    <mdn-block-header class="mdn-block-header">

        <div name="block-simple" class="block-simple">
            <div class="block-header">
                <p class="block-header-text">Output</p>
            </div>
            <pre class="toolscript-form-pre">
                <div class="toolform">
                    <text style="display: flex; flex-direction:column;" id="output-t">
                        {% if response%}
                            <span>
                                {{response | safe}}
                            </span>
                        {% endif %}
                    </text>
                </div>
            </pre>
        </div>
    </mdn-block-header>
    </div>
</div>
<!-- tool output -->
{% endmacro %}
