@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    font-family: "Poppins",sans-serif;
}

:root {
    --primary-background:#d8bb9c;
    --secondary-background:#dcbea1;
    --foreground:#523d2a;
    --primary-text:#2c2117;
}

body {
    background-color: var(--primary-background);
}

html,body {
    height: 100%;
    margin: 0;
}


p {
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    font-family: "Poppins",sans-serif!important;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 83px;
    /* margin: 0 10% 0 10%; */
}

.layout_guide {
        padding: 0 10% 0 10%;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--secondary-background);

}

.bottom-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.tooldirectory {
    padding-top:10px;
    height: 100%;
}

.exampletool {
    width: 100%;
    background-color: black!important;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
}

.flex-grid .col {
    width: 32%;
}

.flex-h {
    flex: 1;
}

.toolform {
    height: 100%;
    /* border: 1px solid light-dark(#c3c7cb, #51565d); */
    /* background-color: white; */
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* block */
.block-simple {
    height: 100%;
    --border:1px solid light-dark(#c3c7cb, #51565d);
    border:1px solid light-dark(#c3c7cb, #51565d);
    border-radius: 0.25rem;
    overflow: hidden;

}

.block-simple .block-header {

    gap: 0.5rem;
    padding-right: 0.5rem;
}

.block-simple .block-header {
    align-items: center;
    border-bottom: 1px solid light-dark(#c3c7cb, #51565d);
    display: flex;
    line-height: 1;
    min-height: 3.1rem;
    padding: 0.5rem 1rem;
}

.block-header {
    background-color: white;
}
.block-header-text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
}

.mdn-block-header {
    margin: 1rem 0;
    display: block;
    line-height: 1.75;
    overflow-wrap:break-word;
    /* height: 336px; */
    height: 100%;
    width: 504px;
}

.block-simple pre {
    height: 100%;
    background-color: light-dark(#edeef0, #2d3034);
    display: flex;
    margin: 0;
    white-space: pre-wrap;
}

.block-simple pre form div {
    display: flex;
    flex-direction: column;
}

.block-simple pre form div dt {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.block-simple pre form div dd {
    display: flex;
    flex-direction: column;
}

.tool-container {
    display: flex;
    justify-content: space-around;
}

#toolscripts_container {
    display: flex;
    gap: 0.5em;
}

.toolcard {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 6px;
  background: var(--primary-background);
}

.toolcard_description {
  font-size: 14px
}

/* [type="checkbox"] {
} */
.lesson_container {
    display: flex;
    flex-direction: column;
}