{% extends '/root/base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div name="toolscripts_container flex-grid" id="toolscripts_container">  <section name="top">
  <br><br>
      <div style="width: 70%;height: 100%;border-radius: 6px;margin-bottom: 20px;text-align: center;margin: auto;">
        <h3>About</h3>
        <p>
          Cybersecurity can be quite an intimidating industry which is why our goal is to create a suite of GUI based web recon and web app penetration testing tools.
        </p>
        <p>
          We’re aiming to make web hacking accessible to anyone wanting to learn not just nerds with enough time to setup linux machines and learn complicated command line based applications.
        </p>
        <p>
          We believe more eager white hat hackers will reduce the number of malicious cyber attacks that hurt regular people every day.
        </p>
      </div>
    </section>

</div>
{% endblock %}
