{% extends '/root/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div>
        <section name="title">
            <h1>Account finder</h1>
        </section>

        <form s>
            <p>Email</p>
            <input type="email">
            <br>
            <p>- OR -</p>
            <p>Username</p>
            <input type="text">
            <br>
            <button type="Submit">
                Submit
            </button> 
        </form>
    </div>
</div>


{% endblock %}