{% extends '/root/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="top layout_guide">
    <section name="top" class="flex-center flex-column" style="padding-top: 50px;width:600px;">
        <div>
            <h1>Making Web Hacking</h1>
            <h1 style="text-align: center;"><i style="font-weight: 400; color:#871616!important;">Transparent</i></h1>
        </div>

        <div >
            <p>Description text goes here.</p>
        </div>

    </section>

</div>
<div class="bottom layout_guide">
    <div class="tooldirectory">
        <div>
            <p style="font-weight: 600; font-size: 2em;text-decoration: underline;">Tool Directory</p>
        </div>
        <div name="toolscripts_container flex-grid" id="toolscripts_container">
            <br>
            <div name="accountfinder">
                <a class="btn btn-primary" href="{{url_for('accountfinder')}}">Accountfinder</a>
            </div>
            <div name="portscan">
                <a class="btn btn-primary" href="{{url_for('port_scanner')}}">Port Scanner</a>
            </div>
        </div>
    </div>
</div>


<!-- <a href="/toolscripts/accountfinder">Accountfinder</a> -->
{% endblock %}
