{% extends '/root/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="top layout_guide">
  <div style="padding:20px;display: flex;flex-direction:column; width:100%;height: 100%;background: #c7ab90; border-radius: 6px; margin-bottom:20px;">
    <section name="top">
        <div style="width: 100%;height: 100%;border-radius: 6px;margin-bottom: 20px;">
          <h3>Learning journey</h3>
        </div>
      </section>
      <section name="middle" style="width: 100%; height: 100%;display: flex;flex-direction: column;">
        <div class="lesson_container">
          <section name="top"></section>
          <section name="middle"></section>
        </div>
      </section>

  </div>
  
  
    <!-- <section name="top" class="flex-center flex-column" style="padding-top: 50px;width:600px;">
        <div>
            <h1>Making Web Hacking</h1>
            <h1 style="text-align: center;"><i style="font-weight: 400; color:#871616!important;">Transparent</i></h1>
        </div>

        <div >
            <p>Description text goes here.</p>
        </div>

    </section> -->

</div>
<div class="bottom layout_guide">
    <div class="tooldirectory">
        <div>
            <p style="font-weight: 600; font-size: 2em;text-decoration: underline;">Tool Directory</p>
        </div>
        <br>
        <div name="toolscripts_container flex-grid" id="toolscripts_container">
            <br>
            <div name="accountfinder" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('accountfinder')}}">
                  Accountfinder
                </a>
                <a href="{{url_for('accountfinder')}}">
                  <p class="toolcard_description">
                    A tool to find online accounts based on a known username or email address.
                  <br><br>
                    Enumerating potential user accounts.
                  </p>
                </a>
            </div>

            <div name="dnslookup" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('dnslookup')}}">
                  DNSLookup
                </a>
                <a href="{{url_for('dnslookup')}}">
                  <p class="toolcard_description">
                    Search for publicly available DNS records based on a known URL.
                  <br><br>
                    Find subdomains, mail servers, and other domain assets.
                  </p>
                </a>
            </div>

            <div name="portscan" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('port_scanner')}}">
                  Port Scanner
                </a>
                <a href="{{url_for('port_scanner')}}">
                  <p class="toolcard_description">
                    Scan server ports.
                  <br><br>
                    Find other running services that may be vulnerable or discover hidden HTTP services.
                  </p>
                </a>
            </div>

            <div name="subfuzz" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('sub_fuzzer')}}">
                  sub_fuzz
                </a>
                <a href="{{url_for('sub_fuzzer')}}">
                  <p class="toolcard_description">
                    Fuzz for hidden subdomains.
                  <br><br>
                    Find new functionality to grow attack surface.
                  </p>
                </a>
            </div>

            <div name="vhostfuzz" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('vhost_fuzzer')}}">
                  vhost_fuzz
                </a>
                <a href="{{url_for('vhost_fuzzer')}}">
                  <p class="toolcard_description">
                    Fuzz for hidden Vhosts.
                  <br><br>
                    Grow attack surface that is not available in DNS records.
                  </p>
                </a>
            </div>

            <div name="dirfuzz" class="toolcard">
                <a class="btn btn-primary" href="{{url_for('dir_fuzzer')}}">
                  dir_fuzz
                </a>
                <a href="{{url_for('dir_fuzzer')}}">
                  <p class="toolcard_description">
                    Fuzz for hidden directories.
                  <br><br>
                    Grow attack surface and find hidden endpoints or pages.
                  </p>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- <a href="/toolscripts/accountfinder">Accountfinder</a> -->
{% endblock %}
